.idea
.pytest_cache
.ipynb_checkpoints
.vscode/

# Dane obrazowe
dane/
wyniki/

# Ustawienia
.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Tensorboard logs
logs/

# PyTorch models
*.pytorch